/* Estilo de toda la pagina*/
body {
	background-size: 100% 400%;
	background-image: url("../img/fondo.jpg");
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0; 
	font-size: 1em;
	line-height: 1.5em;

		
}

/* Estilo para el logo*/
.img1{
    width: 70px;
    padding: 5px 0 0 15px;

}

/* Estilo de la barra superior*/
.Barra{
    background: #188FA7;
	height: 80px;
}
/* Estilo del logo de la pagina*/
#logo-header {
	float: left;
	padding: 25px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .logo {
		display: block;
		font-weight: 700;
		font-size: 40px;
        color: azure;
	}
	
	#logo-header .place {
		display: block;
		font-weight: 300;
		font-size: 13px;
        padding: 0px 0 0 30px;
		color:#ebebe6;
	}


/*  Estilo de las opciones de la barra superior*/
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style:none
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 13px;
                color:aliceblue;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #33b7d1;
				}

